# Ignored folders
/build/
/.cproject
/.project
/.settings/
/.pydevproject
.ipynb_checkpoints/
.vscode/
cuda_cache/
/data/

# Ignored file types
*.pyc
*~
*.nc
*.log
*.bz2
*.pickle

# Ignored folders from the build
/CMakeCache.txt
/CMakeFiles/
/DartConfiguration.tcl
/Makefile
/bin/
/cmake_install.cmake
/CTestTestfile.cmake
/doc/reference_python/

bin
lib
share
include
lib64